DEFAULT_PORT=3005

COOKIE_NAME=auth
COOKIE_SECRET=pleasechangemebeforegoingintoproduction

APPSYNC_API=http://localhost:20002/graphql
APPSYNC_API_KEY=da2-fakeApiId123456

ORIGIN_URL=https://example.com

SILENT=false

TZ='Etc/Zulu' # Only taken into account if the system doesn't have one set
